POSTGRES_USER=gestorfrete
POSTGRES_PASSWORD=gestorfrete
POSTGRES_DB=gestorfrete

RABBITMQ_USER=gestorfrete
RABBITMQ_PASSWORD=gestorfrete

MINIO_ROOT_USER=gestorfrete
MINIO_ROOT_PASSWORD=gestorfrete123
