openapi: 3.1.0
info:
  title: GestorFrete API
  version: "1.0.0"
  description: >
    Contrato oficial da API do GestorFrete (D210 — OpenAPI é a fonte oficial do contrato).
    Este arquivo cobre apenas Sprint 10 / API Lote 2 (Core, Identidade, Tenancy) — Authentication,
    Tenants, Users, Roles, Permissions, Branches. Nenhum módulo de negócio (Viagens, Frota,
    Financeiro, Fiscal, Manutenção) está incluído ainda; entram em lotes subsequentes.
  contact:
    name: GestorFrete
servers:
  - url: https://api.gestorfrete.com.br/api/v1
    description: Produção
  - url: https://api.staging.gestorfrete.com.br/api/v1
    description: Staging

security:
  - bearerAuth: []

tags:
  - name: Authentication
    description: Login, sessão, recuperação de senha (identity_access).
  - name: Tenants
    description: Dados da empresa do tenant autenticado (tenancy).
  - name: Users
    description: Usuários da transportadora (identity_access).
  - name: Roles
    description: Papéis de RBAC (identity_access).
  - name: Permissions
    description: Catálogo de permissões, Platform Reference Data (identity_access).
  - name: Branches
    description: Filiais do tenant (tenancy).
  - name: Clients
    description: Clientes da transportadora (crm).
  - name: Suppliers
    description: Fornecedores — oficina, posto, seguradora, borracharia, guincho, autopeças, etc., um único recurso (maintenance).
  - name: Drivers
    description: Motoristas (drivers).
  - name: Employees
    description: Funcionários internos, distintos de Motorista e de Usuário (identity_access).
  - name: Addresses
    description: Sub-recurso compartilhado de Cliente/Fornecedor/Filial, nunca um recurso de topo (D182/D225/D231).
  - name: Contacts
    description: Sub-recurso exclusivo de Cliente, não polimórfico (crm).
  - name: CostCenters
    description: Centros de custo, cadastro mestre puro — sem saldo/indicador (financial, D090).
  - name: Trips
    description: Viagem — primeiro Aggregate Root complexo do contrato (freight, core domain).
  - name: TripDeliveries
    description: Entregas e Canhoto — sub-recursos de Viagem, nunca criados de forma independente (freight).
  - name: TripResources
    description: Alocação de recursos da Viagem — pacote atômico Motorista+Veículo+Implemento (D188).
  - name: TripOccurrences
    description: Ocorrências da Viagem — uma única entidade para todo tipo (D076).
  - name: TripTimeline
    description: Projeção de leitura fundida — nunca uma tabela própria (D187/D022).
  - name: Vehicles
    description: Veículos Tracionadores — identidade/técnico/operacional separados (fleet).
  - name: VehicleDocuments
    description: Documentos do veículo — sub-recurso, referencia Storage (D251, fleet).
  - name: Implements
    description: Implementos — entidade independente de Composição (fleet).
  - name: VehicleCompositions
    description: Cavalo + Implemento(s) com vigência — nunca editado in-place (D248/D249, fleet).
  - name: OdometerReadings
    description: Leituras de hodômetro — Time Series imutável (D191/D246, fleet).
  - name: VehicleAvailability
    description: Read Model puro — sem comandos de escrita (D247, fleet).
  - name: MaintenanceOrders
    description: Ordens de Serviço — Aggregate Root, status só por comando (D252/D253, maintenance).
  - name: MaintenanceOrderItems
    description: Itens de OS — sub-recurso, custo realizado é derivado (D254, maintenance).
  - name: MaintenanceApprovals
    description: Aprovações de custo — recurso próprio, alçada só consultada (D255, maintenance).
  - name: MaintenancePreventivePlans
    description: Planos de manutenção preventiva — Reference Data, tipo_gatilho extensível (maintenance).
  - name: ServiceTypes
    description: Tipos de serviço — Reference Data, pré-requisito de Plano Preventivo (maintenance).
  - name: MaintenanceHistory
    description: Histórico operacional da OS — somente leitura, nunca Timeline Universal (D257, maintenance).
  - name: AccountsPayable
    description: Contas a Pagar — máquina de estados própria, baixa é comando (D264, financial).
  - name: Invoices
    description: Faturas — CRUD mínimo (D260), imutável após emitida (financial).
  - name: AccountsReceivable
    description: Contas a Receber — sub-recurso de Fatura, sem estado de cancelamento (D273, financial).
  - name: ChartOfAccounts
    description: Plano de Contas — hierarquia sem ciclo, RBAC corrigido nesta preparação (D271, financial).
  - name: BankAccounts
    description: Contas Bancárias — saldo sempre derivado (D263), RBAC corrigido nesta preparação (D271, financial).
  - name: CashPosition
    description: Posição de Caixa — Read Model puro, sem verbo de escrita (financial).
  - name: BankReconciliation
    description: Conciliação Bancária — extrato/lançamento/correspondência/conciliação (financial).
  - name: FinancialReversals
    description: Estorno Financeiro — mecanismo único de correção pós-fato (D266, financial).
  - name: FinancialTrip
    description: Financeiro da Viagem — leitura especializada, Viagem continua dona dos valores (D262, freight).
  - name: SubscriptionPlans
    description: Planos — Platform Reference Data, somente leitura (subscription, D272 — não é financial).
  - name: Subscriptions
    description: Assinatura — enum físico mais restrito que a máquina conceitual (D272-nota, subscription).
  - name: RecurringBilling
    description: Cobrança Recorrente — criação automática por ciclo, Asaas nunca exposto (D265, billing).
  - name: CTe
    description: CT-e — máquina de 8 estados, status só por comando (D274), sem POST manual (documents).
  - name: MDFe
    description: MDF-e — consolida CT-e autorizados, encerramento trava D019 (documents).
  - name: CIOT
    description: CIOT — motorista autônomo, protocolo ANTT distinto de SEFAZ (documents).
  - name: CorrectionLetters
    description: Carta de Correção — artefato anexado ao CT-e, nunca altera o documento pai (D282, documents).
  - name: ReferencedNFe
    description: NF-e Referenciada — referência fiscal, nunca uma NF-e emitida pela transportadora (documents).
  - name: FiscalEvents
    description: Eventos Fiscais — log técnico bruto, somente leitura (D277, documents).
  - name: FiscalConfiguration
    description: Configuração Fiscal do Tenant — certificado/série/ambiente, RBAC corrigido nesta preparação (D283, documents).
  - name: TrackingProviders
    description: Provedores de Rastreamento — cadastro agnóstico de fornecedor (D291, tracking).
  - name: TrackingDevices
    description: Equipamentos de Rastreamento — múltiplos por veículo, um PRINCIPAL vigente (D128, tracking).
  - name: VehiclePositions
    description: Posições — Time Series, somente leitura, cursor obrigatório (D285/D286/D287, tracking).
  - name: TelemetryReadings
    description: Telemetria — Time Series EAV, somente leitura (D120/D286, tracking).
  - name: Heartbeats
    description: Heartbeats — sinal técnico, nunca evento de negócio (tracking).
  - name: TrackingEvents
    description: Eventos de Rastreamento — derivados, referenciam a origem, autorização por categoria (D288/D294, tracking).
  - name: Geofences
    description: Geofences — configuração com CRUD completo, distinta do histórico de cruzamento (D289, tracking).
  - name: TrackingHistory
    description: Histórico de Rastreamento — Read Model composto, sem tabela própria (D290, tracking).
  - name: DriverAuthentication
    description: Autenticação do Motorista — tenant/RBAC nunca vêm do dispositivo (D295/D296, mobile).
  - name: DriverTrips
    description: Viagens do Motorista — mesma máquina de estados da Viagem, nenhum comando novo (D297/D303, freight).
  - name: DriverOccurrences
    description: Ocorrências do Motorista — mesma entidade de 017, D303 (freight).
  - name: DriverDeliveries
    description: Entregas do Motorista — mesmo Canhoto de 015, D303 (freight).
  - name: DriverSignatures
    description: Assinaturas Digitais — somente leitura, criação via comando de Entrega (mobile).
  - name: DriverSync
    description: Sincronização — fila por sequencia_local, conflito resolvido pelo backend (D298/D299/D300, mobile).
  - name: DriverDevices
    description: Dispositivos Mobile — autoatendimento do próprio Motorista (D304, mobile).
  - name: Metrics
    description: Métricas — versionadas, fórmula histórica nunca sobrescrita (D155, analytics).
  - name: ConsolidatedIndicators
    description: Indicadores Consolidados — só leitura, nunca aceita fórmula/valor no request (analytics).
  - name: AnalyticalSnapshots
    description: Snapshots Analíticos — imutáveis após CONSOLIDADO (D151, analytics).
  - name: AnalyticsCubes
    description: Cubos Analíticos — definição estrutural, nunca infraestrutura de execução (analytics).
  - name: Dashboards
    description: Dashboards — configuração/referência, nunca guarda valor de KPI (D152, reporting).
  - name: SavedFilters
    description: Filtros Favoritos — sempre pessoais, nunca globais (reporting).
  - name: SavedReports
    description: Relatórios Salvos — configuração, nunca query física (reporting).
  - name: Exports
    description: Exportações — assíncronas, arquivo sempre em Storage (D307/D308, reporting).
  - name: ScheduledUpdates
    description: Agendamentos de Atualização — nunca executam cálculo, só solicitam (D159, reporting).
  - name: AIModels
    description: Modelos de IA — fornecedor lógico, nunca o provedor real (D170/D309, ai).
  - name: AIInferences
    description: Inferências de IA — log técnico auditável, custo com autorização por campo (D172, ai).
  - name: AISuggestions
    description: Sugestões de IA — decisão nunca executa comando operacional diretamente (D310/D311, ai).
  - name: AIPredictions
    description: Predições de IA — validade temporal sempre explícita (D163/D312, ai).
  - name: AIClassifications
    description: Classificações e Anomalias de IA — nunca viram regra operacional automática (ai).
  - name: ComputerVision
    description: Visão Computacional — resultado é sempre proposta, nunca aplicado automaticamente (D161/D164, ai).
  - name: AIFeedback
    description: Feedback de IA — matéria-prima para evolução dos modelos (D165, ai).
  - name: Storage
    description: Mecanismo de upload/download — domínio-agnóstico de provedor físico (D314, storage).
  - name: Files
    description: Metadados de arquivo — distinto do mecanismo de Storage (D315, storage).
  - name: Attachments
    description: Anexos — infraestrutura polimórfica compartilhada, dono resolvido pelo path (D186/D316, storage).
  - name: Comments
    description: Comentários — mesma infraestrutura compartilhada de Attachments (D186/D316, storage).
  - name: GlobalSearch
    description: Busca global — respeita exatamente as mesmas autorizações das consultas originais (D317).
  - name: Timelines
    description: Linha do tempo universal — read model, nunca uma tabela própria (D318).
  - name: Notifications
    description: Notificações — efeito colateral de um evento de domínio, nunca sua origem (D320, notification_center).
  - name: Integrations
    description: Configuração de Integração — contrato único, nunca uma API por fornecedor (D321, integration).
  - name: Webhooks
    description: Webhooks — entrega idempotente e reprocessável (D111/D138, integration).
  - name: Jobs
    description: Execução de Job — autorizada individualmente, nunca disparo arbitrário (D322, integration).
  - name: Management Results
    description: Resultado Gerencial — Viagem/Veículo/Cliente/Motorista, projeção calculada sobre fatos existentes, sem entidade nova (D090/D149, analytics).

paths:
  # ---------------------------------------------------------------------------
  # Authentication — 001-authentication.md
  # ---------------------------------------------------------------------------
  /auth/login:
    post:
      tags: [Authentication]
      summary: Autentica um usuário e inicia uma sessão
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password }
              required: [email, password]
      responses:
        "200":
          description: Login bem-sucedido
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token: { type: string }
                  refresh_token: { type: string }
                  expires_in: { type: integer }
                  user: { $ref: "#/components/schemas/User" }
                required: [access_token, refresh_token, expires_in, user]
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Renova o par de tokens a partir de um refresh token válido
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh_token: { type: string }
              required: [refresh_token]
      responses:
        "200":
          description: Novo par de tokens
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token: { type: string }
                  refresh_token: { type: string }
                  expires_in: { type: integer }
                required: [access_token, refresh_token, expires_in]
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /auth/logout:
    post:
      tags: [Authentication]
      summary: Encerra a sessão atual
      responses:
        "204": { description: Sessão encerrada }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /auth/forgot-password:
    post:
      tags: [Authentication]
      summary: Inicia o fluxo de redefinição de senha
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email }
              required: [email]
      responses:
        "200":
          description: >
            Sempre retornado, exista ou não o e-mail — nunca revela existência (ERROR_MODEL.md).
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /auth/reset-password:
    post:
      tags: [Authentication]
      summary: Conclui a redefinição de senha usando o token recebido por e-mail
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token: { type: string }
                new_password: { type: string, format: password, minLength: 8 }
              required: [token, new_password]
      responses:
        "200":
          description: Senha redefinida
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
        "400": { $ref: "#/components/responses/BadRequest" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /auth/me:
    get:
      tags: [Authentication]
      summary: Retorna o usuário autenticado, o tenant e a sessão atual
      responses:
        "200":
          description: Identidade do ator autenticado
          content:
            application/json:
              schema:
                type: object
                properties:
                  user: { $ref: "#/components/schemas/User" }
                  tenant: { $ref: "#/components/schemas/TenantContext" }
                  session: { $ref: "#/components/schemas/Session" }
                  roles:
                    type: array
                    items: { type: string }
                    description: >-
                      Nomes dos Papéis do Usuário (não os códigos de permissão) — conveniência de
                      exibição. `user.roles` continua como UUIDs; resolver permission codes ainda
                      exige `GET /roles/{id}` por Papel (ver achado em `001-authentication.md`).
                required: [user, tenant, session, roles]
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  # ---------------------------------------------------------------------------
  # Tenants — 002-tenants.md
  # ---------------------------------------------------------------------------
  /tenant:
    get:
      tags: [Tenants]
      summary: Obtém os dados do tenant autenticado
      responses:
        "200":
          description: Tenant do contexto autenticado (D208)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Tenant" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    patch:
      tags: [Tenants]
      summary: Atualiza os dados do tenant autenticado
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                razao_social: { type: string }
                cnpj: { type: string }
      responses:
        "200":
          description: Tenant atualizado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Tenant" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  # ---------------------------------------------------------------------------
  # Users — 003-users.md
  # ---------------------------------------------------------------------------
  /users:
    get:
      tags: [Users]
      summary: Lista usuários do tenant
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/StatusFilterParam"
        - name: role
          in: query
          required: false
          schema: { $ref: "#/components/schemas/UUID" }
          description: Filtra por Papel atribuído (via usuarios_papeis, D222).
        - $ref: "#/components/parameters/SearchParam"
        - $ref: "#/components/parameters/ExpandParam"
      responses:
        "200":
          description: Coleção paginada de usuários
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Pagination"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/User" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    post:
      tags: [Users]
      summary: Cria um usuário
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nome: { type: string }
                email: { type: string, format: email }
                password: { type: string, format: password, minLength: 8 }
                driver_id: { $ref: "#/components/schemas/UUID" }
                employee_id: { $ref: "#/components/schemas/UUID" }
                role_ids:
                  type: array
                  items: { $ref: "#/components/schemas/UUID" }
              required: [nome, email, password]
      responses:
        "201":
          description: Usuário criado
          headers:
            Location: { schema: { type: string } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/User" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /users/{id}:
    get:
      tags: [Users]
      summary: Obtém um usuário
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "200":
          description: Usuário
          content:
            application/json:
              schema: { $ref: "#/components/schemas/User" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    patch:
      tags: [Users]
      summary: Atualiza um usuário
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nome: { type: string }
                email: { type: string, format: email }
                role_ids:
                  type: array
                  items: { $ref: "#/components/schemas/UUID" }
      responses:
        "200":
          description: Usuário atualizado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/User" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    delete:
      tags: [Users]
      summary: Desativa um usuário (soft delete, D219)
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "204": { description: Usuário desativado }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  # ---------------------------------------------------------------------------
  # Roles — 004-roles.md
  # ---------------------------------------------------------------------------
  /roles:
    get:
      tags: [Roles]
      summary: Lista papéis do tenant
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/SearchParam"
      responses:
        "200":
          description: Coleção paginada de papéis
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Pagination"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Role" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    post:
      tags: [Roles]
      summary: Cria um papel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nome: { type: string }
                descricao: { type: string }
                permissions:
                  type: array
                  items: { type: string }
              required: [nome]
      responses:
        "201":
          description: Papel criado
          headers:
            Location: { schema: { type: string } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Role" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /roles/{id}:
    get:
      tags: [Roles]
      summary: Obtém um papel
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "200":
          description: Papel
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Role" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    patch:
      tags: [Roles]
      summary: Atualiza um papel
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nome: { type: string }
                descricao: { type: string }
                permissions:
                  type: array
                  items: { type: string }
      responses:
        "200":
          description: Papel atualizado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Role" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    delete:
      tags: [Roles]
      summary: Exclui um papel (soft delete, D219)
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "204": { description: Papel excluído }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  # ---------------------------------------------------------------------------
  # Permissions — 005-permissions.md (somente leitura, Platform Reference Data)
  # ---------------------------------------------------------------------------
  /permissions:
    get:
      tags: [Permissions]
      summary: Lista o catálogo de permissões (Platform Reference Data)
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: module
          in: query
          required: false
          schema: { type: string }
        - $ref: "#/components/parameters/SearchParam"
      responses:
        "200":
          description: Coleção paginada de permissões
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Pagination"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Permission" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /permissions/{id}:
    get:
      tags: [Permissions]
      summary: Obtém uma permissão
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "200":
          description: Permissão
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Permission" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  # ---------------------------------------------------------------------------
  # Branches — 006-branches.md
  # ---------------------------------------------------------------------------
  /branches:
    get:
      tags: [Branches]
      summary: Lista filiais do tenant
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/SearchParam"
      responses:
        "200":
          description: Coleção paginada de filiais
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Pagination"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Branch" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    post:
      tags: [Branches]
      summary: Cria uma filial
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nome: { type: string }
                is_headquarters: { type: boolean, default: false }
              required: [nome]
      responses:
        "201":
          description: Filial criada
          headers:
            Location: { schema: { type: string } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Branch" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /branches/{id}:
    get:
      tags: [Branches]
      summary: Obtém uma filial
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "200":
          description: Filial
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Branch" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    patch:
      tags: [Branches]
      summary: Atualiza uma filial
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nome: { type: string }
                is_headquarters: { type: boolean }
      responses:
        "200":
          description: Filial atualizada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Branch" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    delete:
      tags: [Branches]
      summary: Exclui uma filial (soft delete, D219)
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "204": { description: Filial excluída }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  # ---------------------------------------------------------------------------
  # Clients — 007-clients.md
  # ---------------------------------------------------------------------------
  /clients:
    get:
      tags: [Clients]
      summary: Lista clientes do tenant
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/StatusFilterParam"
        - name: document
          in: query
          required: false
          schema: { type: string }
        - $ref: "#/components/parameters/SearchParam"
        - name: created_from
          in: query
          required: false
          schema: { type: string, format: date }
        - name: created_to
          in: query
          required: false
          schema: { type: string, format: date }
      responses:
        "200":
          description: Coleção paginada de clientes
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Pagination"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Client" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    post:
      tags: [Clients]
      summary: Cria um cliente
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                razao_social: { type: string }
                nome_fantasia: { type: string }
                document: { type: string }
                telefone: { type: string }
                email: { type: string, format: email }
              required: [razao_social, document]
      responses:
        "201":
          description: Cliente criado
          headers:
            Location: { schema: { type: string } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Client" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /clients/{id}:
    get:
      tags: [Clients]
      summary: Obtém um cliente
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "200":
          description: Cliente
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Client" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    patch:
      tags: [Clients]
      summary: Atualiza um cliente
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                razao_social: { type: string }
                nome_fantasia: { type: string }
                document: { type: string }
                telefone: { type: string }
                email: { type: string, format: email }
      responses:
        "200":
          description: Cliente atualizado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Client" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    delete:
      tags: [Clients]
      summary: Desativa um cliente (soft delete, D219)
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "204": { description: Cliente desativado }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /clients/{id}/addresses:
    get:
      tags: [Clients, Addresses]
      summary: Lista endereços do cliente
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "200":
          description: Coleção de endereços
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Pagination"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Address" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    post:
      tags: [Clients, Addresses]
      summary: Cria um endereço para o cliente
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type: { type: string, enum: [PRINCIPAL, COBRANCA, ENTREGA, OUTRO] }
                logradouro: { type: string }
                numero: { type: string }
                complemento: { type: string }
                bairro: { type: string }
                cidade: { type: string }
                uf: { type: string, minLength: 2, maxLength: 2 }
                cep: { type: string }
              required: [type, logradouro, bairro, cidade, uf, cep]
      responses:
        "201":
          description: Endereço criado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Address" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /clients/{id}/addresses/{addressId}:
    get:
      tags: [Clients, Addresses]
      summary: Obtém um endereço do cliente
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
        - name: addressId
          in: path
          required: true
          schema: { $ref: "#/components/schemas/UUID" }
      responses:
        "200":
          description: Endereço
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Address" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    patch:
      tags: [Clients, Addresses]
      summary: Atualiza um endereço do cliente
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
        - name: addressId
          in: path
          required: true
          schema: { $ref: "#/components/schemas/UUID" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type: { type: string, enum: [PRINCIPAL, COBRANCA, ENTREGA, OUTRO] }
                logradouro: { type: string }
                numero: { type: string }
                complemento: { type: string }
                bairro: { type: string }
                cidade: { type: string }
                uf: { type: string, minLength: 2, maxLength: 2 }
                cep: { type: string }
      responses:
        "200":
          description: Endereço atualizado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Address" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    delete:
      tags: [Clients, Addresses]
      summary: Exclui um endereço do cliente (soft delete, D219)
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
        - name: addressId
          in: path
          required: true
          schema: { $ref: "#/components/schemas/UUID" }
      responses:
        "204": { description: Endereço excluído }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /clients/{id}/contacts:
    get:
      tags: [Clients, Contacts]
      summary: Lista contatos do cliente
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "200":
          description: Coleção de contatos
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Pagination"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Contact" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    post:
      tags: [Clients, Contacts]
      summary: Cria um contato para o cliente
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nome: { type: string }
                cargo: { type: string }
                telefone: { type: string }
                email: { type: string, format: email }
              required: [nome]
      responses:
        "201":
          description: Contato criado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Contact" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /clients/{id}/contacts/{contactId}:
    get:
      tags: [Clients, Contacts]
      summary: Obtém um contato do cliente
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
        - name: contactId
          in: path
          required: true
          schema: { $ref: "#/components/schemas/UUID" }
      responses:
        "200":
          description: Contato
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Contact" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    patch:
      tags: [Clients, Contacts]
      summary: Atualiza um contato do cliente
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
        - name: contactId
          in: path
          required: true
          schema: { $ref: "#/components/schemas/UUID" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nome: { type: string }
                cargo: { type: string }
                telefone: { type: string }
                email: { type: string, format: email }
      responses:
        "200":
          description: Contato atualizado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Contact" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    delete:
      tags: [Clients, Contacts]
      summary: Exclui um contato do cliente (soft delete, D219)
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
        - name: contactId
          in: path
          required: true
          schema: { $ref: "#/components/schemas/UUID" }
      responses:
        "204": { description: Contato excluído }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  # ---------------------------------------------------------------------------
  # Suppliers — 008-suppliers.md
  # ---------------------------------------------------------------------------
  /suppliers:
    get:
      tags: [Suppliers]
      summary: Lista fornecedores do tenant
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/StatusFilterParam"
        - name: category
          in: query
          required: false
          schema:
            type: string
            enum: [PECA, RECAPAGEM, SEGURO, OFICINA, POSTO, BORRACHARIA, GUINCHO, OUTRO]
        - $ref: "#/components/parameters/SearchParam"
        - name: created_from
          in: query
          required: false
          schema: { type: string, format: date }
        - name: created_to
          in: query
          required: false
          schema: { type: string, format: date }
      responses:
        "200":
          description: Coleção paginada de fornecedores
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Pagination"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Supplier" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    post:
      tags: [Suppliers]
      summary: Cria um fornecedor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                razao_social: { type: string }
                cnpj: { type: string }
                telefone: { type: string }
                category:
                  type: string
                  enum: [PECA, RECAPAGEM, SEGURO, OFICINA, POSTO, BORRACHARIA, GUINCHO, OUTRO]
              required: [razao_social, cnpj]
      responses:
        "201":
          description: Fornecedor criado
          headers:
            Location: { schema: { type: string } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Supplier" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /suppliers/{id}:
    get:
      tags: [Suppliers]
      summary: Obtém um fornecedor
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "200":
          description: Fornecedor
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Supplier" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    patch:
      tags: [Suppliers]
      summary: Atualiza um fornecedor
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                razao_social: { type: string }
                cnpj: { type: string }
                telefone: { type: string }
                category:
                  type: string
                  enum: [PECA, RECAPAGEM, SEGURO, OFICINA, POSTO, BORRACHARIA, GUINCHO, OUTRO]
      responses:
        "200":
          description: Fornecedor atualizado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Supplier" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    delete:
      tags: [Suppliers]
      summary: Desativa um fornecedor (soft delete, D219)
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "204": { description: Fornecedor desativado }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /suppliers/{id}/addresses:
    get:
      tags: [Suppliers, Addresses]
      summary: Lista endereços do fornecedor
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "200":
          description: Coleção de endereços
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Pagination"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Address" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    post:
      tags: [Suppliers, Addresses]
      summary: Cria um endereço para o fornecedor
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type: { type: string, enum: [PRINCIPAL, COBRANCA, ENTREGA, OUTRO] }
                logradouro: { type: string }
                numero: { type: string }
                complemento: { type: string }
                bairro: { type: string }
                cidade: { type: string }
                uf: { type: string, minLength: 2, maxLength: 2 }
                cep: { type: string }
              required: [type, logradouro, bairro, cidade, uf, cep]
      responses:
        "201":
          description: Endereço criado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Address" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /suppliers/{id}/addresses/{addressId}:
    get:
      tags: [Suppliers, Addresses]
      summary: Obtém um endereço do fornecedor
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
        - name: addressId
          in: path
          required: true
          schema: { $ref: "#/components/schemas/UUID" }
      responses:
        "200":
          description: Endereço
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Address" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    patch:
      tags: [Suppliers, Addresses]
      summary: Atualiza um endereço do fornecedor
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
        - name: addressId
          in: path
          required: true
          schema: { $ref: "#/components/schemas/UUID" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type: { type: string, enum: [PRINCIPAL, COBRANCA, ENTREGA, OUTRO] }
                logradouro: { type: string }
                numero: { type: string }
                complemento: { type: string }
                bairro: { type: string }
                cidade: { type: string }
                uf: { type: string, minLength: 2, maxLength: 2 }
                cep: { type: string }
      responses:
        "200":
          description: Endereço atualizado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Address" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    delete:
      tags: [Suppliers, Addresses]
      summary: Exclui um endereço do fornecedor (soft delete, D219)
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
        - name: addressId
          in: path
          required: true
          schema: { $ref: "#/components/schemas/UUID" }
      responses:
        "204": { description: Endereço excluído }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /branches/{id}/addresses:
    get:
      tags: [Branches, Addresses]
      summary: Lista endereços da filial
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "200":
          description: Coleção de endereços
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Pagination"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Address" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    post:
      tags: [Branches, Addresses]
      summary: Cria um endereço para a filial
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type: { type: string, enum: [PRINCIPAL, COBRANCA, ENTREGA, OUTRO] }
                logradouro: { type: string }
                numero: { type: string }
                complemento: { type: string }
                bairro: { type: string }
                cidade: { type: string }
                uf: { type: string, minLength: 2, maxLength: 2 }
                cep: { type: string }
              required: [type, logradouro, bairro, cidade, uf, cep]
      responses:
        "201":
          description: Endereço criado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Address" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /branches/{id}/addresses/{addressId}:
    get:
      tags: [Branches, Addresses]
      summary: Obtém um endereço da filial
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
        - name: addressId
          in: path
          required: true
          schema: { $ref: "#/components/schemas/UUID" }
      responses:
        "200":
          description: Endereço
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Address" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    patch:
      tags: [Branches, Addresses]
      summary: Atualiza um endereço da filial
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
        - name: addressId
          in: path
          required: true
          schema: { $ref: "#/components/schemas/UUID" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type: { type: string, enum: [PRINCIPAL, COBRANCA, ENTREGA, OUTRO] }
                logradouro: { type: string }
                numero: { type: string }
                complemento: { type: string }
                bairro: { type: string }
                cidade: { type: string }
                uf: { type: string, minLength: 2, maxLength: 2 }
                cep: { type: string }
      responses:
        "200":
          description: Endereço atualizado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Address" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    delete:
      tags: [Branches, Addresses]
      summary: Exclui um endereço da filial (soft delete, D219)
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
        - name: addressId
          in: path
          required: true
          schema: { $ref: "#/components/schemas/UUID" }
      responses:
        "204": { description: Endereço excluído }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  # ---------------------------------------------------------------------------
  # Drivers — 009-drivers.md
  # ---------------------------------------------------------------------------
  /drivers:
    get:
      tags: [Drivers]
      summary: Lista motoristas do tenant
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/StatusFilterParam"
        - name: employment_type
          in: query
          required: false
          schema: { type: string, enum: [EMPREGADO, AUTONOMO] }
        - $ref: "#/components/parameters/SearchParam"
        - name: created_from
          in: query
          required: false
          schema: { type: string, format: date }
        - name: created_to
          in: query
          required: false
          schema: { type: string, format: date }
      responses:
        "200":
          description: Coleção paginada de motoristas
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Pagination"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Driver" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    post:
      tags: [Drivers]
      summary: Cria um motorista
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nome: { type: string }
                cpf: { type: string }
                telefone: { type: string }
                email: { type: string, format: email }
                employment_type: { type: string, enum: [EMPREGADO, AUTONOMO] }
              required: [nome, cpf, employment_type]
      responses:
        "201":
          description: Motorista criado
          headers:
            Location: { schema: { type: string } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Driver" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /drivers/me:
    get:
      tags: [Drivers]
      summary: Obtém o cadastro de Motorista do ator autenticado
      responses:
        "200":
          description: Motorista
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Driver" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /drivers/{id}:
    get:
      tags: [Drivers]
      summary: Obtém um motorista
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "200":
          description: Motorista
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Driver" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    patch:
      tags: [Drivers]
      summary: Atualiza um motorista
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nome: { type: string }
                telefone: { type: string }
                email: { type: string, format: email }
                employment_type: { type: string, enum: [EMPREGADO, AUTONOMO] }
      responses:
        "200":
          description: Motorista atualizado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Driver" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    delete:
      tags: [Drivers]
      summary: Desativa um motorista (soft delete, D219)
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "204": { description: Motorista desativado }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /drivers/{id}/block:
    post:
      tags: [Drivers]
      summary: Bloqueia um motorista
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "200":
          description: Motorista bloqueado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Driver" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /drivers/{id}/unblock:
    post:
      tags: [Drivers]
      summary: Desbloqueia um motorista
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "200":
          description: Motorista desbloqueado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Driver" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /drivers/{id}/documents:
    get:
      tags: [Drivers]
      summary: Lista documentos do motorista
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "200":
          description: Coleção de documentos
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Pagination"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/DriverDocument" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    post:
      tags: [Drivers]
      summary: Cria um documento para o motorista
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type: { type: string, enum: [CNH, RG, EXAME_TOXICOLOGICO, REGISTRO_ANTT] }
                number: { type: string }
                cnh_category: { type: string, enum: [A, B, C, D, E] }
                expires_at: { type: string, format: date }
              required: [type, number]
      responses:
        "201":
          description: Documento criado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverDocument" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /drivers/{id}/documents/{documentId}:
    get:
      tags: [Drivers]
      summary: Obtém um documento do motorista
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
        - name: documentId
          in: path
          required: true
          schema: { $ref: "#/components/schemas/UUID" }
      responses:
        "200":
          description: Documento
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverDocument" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    patch:
      tags: [Drivers]
      summary: Atualiza um documento do motorista
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
        - name: documentId
          in: path
          required: true
          schema: { $ref: "#/components/schemas/UUID" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                number: { type: string }
                cnh_category: { type: string, enum: [A, B, C, D, E] }
                expires_at: { type: string, format: date }
      responses:
        "200":
          description: Documento atualizado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DriverDocument" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    delete:
      tags: [Drivers]
      summary: Exclui um documento do motorista (soft delete, D219)
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
        - name: documentId
          in: path
          required: true
          schema: { $ref: "#/components/schemas/UUID" }
      responses:
        "204": { description: Documento excluído }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  # ---------------------------------------------------------------------------
  # Employees — 010-employees.md
  # ---------------------------------------------------------------------------
  /employees:
    get:
      tags: [Employees]
      summary: Lista funcionários do tenant
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/StatusFilterParam"
        - $ref: "#/components/parameters/SearchParam"
        - name: created_from
          in: query
          required: false
          schema: { type: string, format: date }
        - name: created_to
          in: query
          required: false
          schema: { type: string, format: date }
      responses:
        "200":
          description: Coleção paginada de funcionários
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Pagination"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Employee" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    post:
      tags: [Employees]
      summary: Cria um funcionário
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nome: { type: string }
                cargo: { type: string }
                hired_at: { type: string, format: date }
              required: [nome, cargo]
      responses:
        "201":
          description: Funcionário criado
          headers:
            Location: { schema: { type: string } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Employee" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /employees/{id}:
    get:
      tags: [Employees]
      summary: Obtém um funcionário
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "200":
          description: Funcionário
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Employee" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    patch:
      tags: [Employees]
      summary: Atualiza um funcionário
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nome: { type: string }
                cargo: { type: string }
                hired_at: { type: string, format: date }
      responses:
        "200":
          description: Funcionário atualizado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Employee" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    delete:
      tags: [Employees]
      summary: Desativa um funcionário (soft delete, D219)
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "204": { description: Funcionário desativado }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  # ---------------------------------------------------------------------------
  # Cost Centers — 013-cost-centers.md
  # ---------------------------------------------------------------------------
  /cost-centers:
    get:
      tags: [CostCenters]
      summary: Lista centros de custo do tenant
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/StatusFilterParam"
        - name: branch_id
          in: query
          required: false
          schema: { $ref: "#/components/schemas/UUID" }
        - $ref: "#/components/parameters/SearchParam"
      responses:
        "200":
          description: Coleção paginada de centros de custo
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Pagination"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/CostCenter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    post:
      tags: [CostCenters]
      summary: Cria um centro de custo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accounting_code: { type: string }
                nome: { type: string }
                branch_id: { $ref: "#/components/schemas/UUID" }
              required: [accounting_code, nome]
      responses:
        "201":
          description: Centro de custo criado
          headers:
            Location: { schema: { type: string } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CostCenter" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /cost-centers/{id}:
    get:
      tags: [CostCenters]
      summary: Obtém um centro de custo
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "200":
          description: Centro de custo
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CostCenter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    patch:
      tags: [CostCenters]
      summary: Atualiza um centro de custo
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                accounting_code: { type: string }
                nome: { type: string }
                branch_id: { $ref: "#/components/schemas/UUID" }
                status: { type: string, enum: [ATIVO, INATIVO] }
      responses:
        "200":
          description: Centro de custo atualizado
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CostCenter" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  # ---------------------------------------------------------------------------
  # Trips — 014-trips.md
  # ---------------------------------------------------------------------------
  /viagens:
    get:
      tags: [Trips]
      summary: Lista viagens do tenant
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: status_operacional
          in: query
          required: false
          schema: { type: string }
        - name: status_fiscal
          in: query
          required: false
          schema: { type: string }
        - name: status_financeiro
          in: query
          required: false
          schema: { type: string }
        - name: motorista_id
          in: query
          required: false
          schema: { $ref: "#/components/schemas/UUID" }
        - name: veiculo_id
          in: query
          required: false
          schema: { $ref: "#/components/schemas/UUID" }
        - name: cliente_id
          in: query
          required: false
          schema: { $ref: "#/components/schemas/UUID" }
        - name: data_programada
          in: query
          required: false
          schema: { type: string, format: date }
        - name: codigo
          in: query
          required: false
          schema: { type: string }
      responses:
        "200":
          description: Coleção paginada de viagens
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Pagination"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Trip" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    post:
      tags: [Trips]
      summary: Cria uma viagem (nasce em RASCUNHO)
      parameters:
        - $ref: "#/components/parameters/IdempotencyKeyHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cliente_id: { $ref: "#/components/schemas/UUID" }
                data_programada: { type: string, format: date }
                janela_programada: { type: string, format: date-time }
              required: [cliente_id]
      responses:
        "201":
          description: Viagem criada
          headers:
            Location: { schema: { type: string } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Trip" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /viagens/{id}:
    get:
      tags: [Trips]
      summary: Obtém uma viagem
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "200":
          description: Viagem
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Trip" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    patch:
      tags: [Trips]
      summary: Atualiza campos editáveis da viagem (nunca status, referências ou snapshots)
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data_programada: { type: string, format: date }
                janela_programada: { type: string, format: date-time }
      responses:
        "200":
          description: Viagem atualizada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Trip" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    delete:
      tags: [Trips]
      summary: Exclui uma viagem em RASCUNHO/PLANEJADA (soft delete, D219)
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "204": { description: Viagem excluída }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /viagens/{id}/commands/accept:
    post:
      tags: [Trips]
      summary: "Motorista aceita a viagem atribuída (D129) — nunca muda o status"
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "200":
          description: Viagem (inalterada em status, evento MotoristaAceitouViagem publicado)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Trip" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /viagens/{id}/commands/dispatch:
    post:
      tags: [Trips]
      summary: "Despacha a viagem (LIBERADA → EM_DESLOCAMENTO), acionado pelo Gestor"
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "200":
          description: Viagem despachada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Trip" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /viagens/{id}/commands/start:
    post:
      tags: [Trips]
      summary: "Motorista inicia o deslocamento (LIBERADA → EM_DESLOCAMENTO), via app"
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "200":
          description: Viagem iniciada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Trip" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /viagens/{id}/commands/finish:
    post:
      tags: [Trips]
      summary: "Finaliza a viagem (EM_ENTREGA → FINALIZADA)"
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
        - $ref: "#/components/parameters/IdempotencyKeyHeader"
      responses:
        "200":
          description: Viagem finalizada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Trip" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /viagens/{id}/commands/interromper:
    post:
      tags: [Trips]
      summary: Interrompe a viagem (pane, sinistro ou ocorrência grave)
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
        - $ref: "#/components/parameters/IdempotencyKeyHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notes: { type: string }
              required: [notes]
      responses:
        "200":
          description: Viagem interrompida
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Trip" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /viagens/{id}/commands/retomar:
    post:
      tags: [Trips]
      summary: Retoma a viagem para o estado de onde foi interrompida
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "200":
          description: Viagem retomada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Trip" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /viagens/{id}/commands/cancelar:
    post:
      tags: [Trips]
      summary: Cancela a viagem
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
        - $ref: "#/components/parameters/IdempotencyKeyHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notes: { type: string }
              required: [notes]
      responses:
        "200":
          description: Viagem cancelada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Trip" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /viagens/{id}/commands/close-administrative:
    post:
      tags: [Trips]
      summary: Encerramento administrativo forçado (exceção documentada, nunca a via normal)
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                justification: { type: string }
              required: [justification]
      responses:
        "200":
          description: Viagem encerrada administrativamente
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Trip" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  # ---------------------------------------------------------------------------
  # Trip Deliveries — 015-trip-deliveries.md
  # ---------------------------------------------------------------------------
  /viagens/{id}/entregas:
    get:
      tags: [TripDeliveries]
      summary: Lista entregas da viagem
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      responses:
        "200":
          description: Coleção paginada de entregas
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Pagination"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Delivery" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    post:
      tags: [TripDeliveries]
      summary: Cria uma entrega para a viagem
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order: { type: integer, minimum: 1 }
                recipient: { type: string }
                delivery_address: { type: object }
                window:
                  type: object
                  properties:
                    starts_at: { type: string, format: date-time }
                    ends_at: { type: string, format: date-time }
                  required: [starts_at, ends_at]
              required: [order, recipient, delivery_address]
      responses:
        "201":
          description: Entrega criada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Delivery" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /viagens/{id}/entregas/{entregaId}:
    get:
      tags: [TripDeliveries]
      summary: Obtém uma entrega da viagem
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
        - name: entregaId
          in: path
          required: true
          schema: { $ref: "#/components/schemas/UUID" }
      responses:
        "200":
          description: Entrega
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Delivery" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    patch:
      tags: [TripDeliveries]
      summary: Atualiza uma entrega da viagem
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
        - name: entregaId
          in: path
          required: true
          schema: { $ref: "#/components/schemas/UUID" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status: { type: string, enum: [PENDENTE, CONCLUIDA, RECUSADA, DEVOLVIDA, CANCELADA] }
                rejection_reason: { type: string }
      responses:
        "200":
          description: Entrega atualizada
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Delivery" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /viagens/{id}/entregas/{entregaId}/canhoto:
    post:
      tags: [TripDeliveries]
      summary: Registra o canhoto (comprovante de entrega) de uma entrega
      parameters:
        - $ref: "#/components/parameters/IdPathParam"
        - name: entregaId
          in: path
          required: true
          schema: { $ref: "#/components/schemas/UUID" }
        - $ref: "#/components/parameters/IdempotencyKeyHeader"
[...]
